
body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.top-nav {
    position: absolute;
    top: 20px;
    left: 20px;
}

.top-nav a {
    text-decoration: none;
    font-weight: 600;
    color: var(--button-color);
    background-color: rgba(25, 153, 238, 0.7);
    padding: 8px 15px;
    border-radius: 8px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}tracker

.top-nav a:hover {
    background-color: #084299;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-top: 100px;
}

.logo img {
    width: 600px;
    height: 120px;
    object-fit: fill;
}

.logocenter {
    position: absolute;
    display: flex;
    justify-content: center;
}

.logocenter img {
    object-fit: fill;
}

#container-home {
    background-color: #fff;
    padding: 40px;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

h4 {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.about {
    margin-top: 10px;
    max-width: 600px;
    font-size: 1.1rem;
    color: #555;
    text-align: center, justify;
}

footer {
    margin-top: 20px;
    font-size: 0.85rem;
    color: #999;
}

.tracker {
    width: 280px;
    height: 200px;
    overflow: hidden;
    position: relative;
    border: 2px solid #ccc;
    margin-bottom: 20px;
}

.tracker-images {
    display: flex;
    width: 100%;
    height: 100%;
    animation: scroll 12s infinite;
}

.tracker-images img {
    width: 280px;
    height: 200px;
    object-fit: cover;
}

@keyframes scroll {
    0% { transform: translateX(0); }
    10% { transform: translateX(0); }
    20% { transform: translateX(-280px); }
    30% { transform: translateX(-280px); }
    40% { transform: translateX(-560px); }
    50% { transform: translateX(-560px); }
    60% { transform: translateX(-840px); }
    70% { transform: translateX(-840px); }
    80% { transform: translateX(-1120px); }
    90% { transform: translateX(-1120px); }
    100% { transform: translateX(0); }
}
